img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
}

.product-page {
    margin: 80px !important;
}

.fa-star {
    color: #d4542c;
}

.row {
    padding: 60px;
}

.book-information-col {
    width: 550px !important;
}

h3 {
    padding: 10px 0px;
}

.add-button {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    bottom: 0;
}

