.shopping-cart-container {
    padding: 75px 75px 75px 100px;
    margin: auto;
}

table {
    width: 360px;
}

td {
    text-align: right !important;
}

h2 {
    margin: 25px;
}

.cart-card-contents {
    min-width: 450px !important;
    margin: 25px;
}

.order-summary-card {
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x: hidden;
    margin: auto;
}

.books-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkout {
    margin: 5px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.price-container {
    margin-left: 20px;
}

span {
    font-size: large;
}

.float-right {
    right: 20px;
    position: absolute;
}

.float-right-bottom {
    right: 20px;
    position: absolute;
    bottom: 20px;
}

.float-right-total {
    right: 0px;
    position: absolute;
    bottom: 0px;
}

.remove-button {
    background-color: #d4542c !important;
}

.remove-button:hover {
    filter: brightness(95%);
}








