.navbar {
    margin-bottom: 0;
    background-color: #ececdc;
    border-radius: 0;
    height: 65px;
    padding-right: 40px;
    padding-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.06) !important;
}

.logo {
    padding-left: 10px;
    font-weight: bold;
    font-size: larger;
    color: #3c9494;
    padding-right: 30px;
}

.logo:hover {
    color: #2c342c;
}

.fa-user {
    padding: 10px;
}

.fa-shopping-cart {
    padding: 10px;
}

ul li a {
    color: #2c342c;
    font-size: larger;
}

ul li {
    background-color: #ececdc;
    z-index: 1;
}

#searchbar {
    min-width: 400px;
}

.click-color:active {
    background-color: #3c9494 !important;
}

.btn {
    background-color: #3c9494;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

