<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="modal fade" id="order-detail-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title">Order #2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="float-right">Shipped</p>
                    <p>03/03/2021</p>
                    <div class="card order-history-book">
                        <div class="d-flex">
                            <img src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B300%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&product=path%5B/pimages/9781635577532_p0_v2%5D&call=url%5Bfile:common/decodeProduct.chain%5D" width="100px">
                            <div class="order-information">
                                <h5>A Court of Silver Flames</h5>
                                <p>by Sarah J. Maas</p>
                                <button type="button" class="btn btn-info btn-sm float-bottom">Add to cart</button>
                                <span class="float-right-bottom">$19.99</span>
                            </div>
                        </div>
                    </div>

                    <div class="card order-history-book">
                        <div class="d-flex">
                            <img src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B300%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&product=path%5B/pimages/9781635577532_p0_v2%5D&call=url%5Bfile:common/decodeProduct.chain%5D" width="100px">
                            <div class="order-information">
                                <h5>A Court of Silver Flames</h5>
                                <p>by Sarah J. Maas</p>
                                <button type="button" class="btn btn-info btn-sm float-bottom">Add to cart</button>
                                <span class="float-right-bottom">$19.99</span>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="order-history-summary">
                        <span class="float-right">$39.98</span>
                        <strong>Subtotal</strong><br>

                        <span class="float-right">$0.00</span>
                        <strong>Shipping</strong><br>

                        <span class="float-right">$3.20</span>
                        <strong>Tax</strong><br>

                        <span class="float-right">$0.00</span>
                        <strong>Promo</strong><br>

                        <hr>

                        <span class="float-right">$43.18</span>
                        <strong>Amount Paid</strong><br>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>